@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-weight: 700;
   font-family: 'Lato', sans-serif;
}

body {
   background-image: #f5f7f9;
}

.page {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   animation-duration: 1s;
   animation-name: showUp;
}

@keyframes showUp {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
